
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

h2{
  height: 4vh;
  justify-self: center;
}

.Level{
  height: 100svh;
  width: 100vw;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: 
      'bahnhof buttons info'
      'bahnhof spielfeld info';
}

.Bahnhof{
  grid-area: bahnhof;

  border: 2px solid red;
  border-radius: 8px;

  display: grid;
}

.Buttons{
  grid-area: buttons;

  border: 2px solid blue;
  border-radius: 8px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Spielfeld{
  grid-area: spielfeld;
  border: 2px solid green;
  border-radius: 8px;


  display: grid;
  gap: 1vw;
}

.Infofeld{
  grid-area: info;
  border: 2px solid yellow;
  border-radius: 8px;

  display: grid;
  gap: 1vw;
}

.Personenliste{
  align-self: center;
  justify-self: center;
  /* display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: space-evenly; */


  display: grid;
  grid-template-columns: repeat( 1, 1fr);
  grid-template-rows: repeat( var(--personenAnz), 170px);
  align-items: center;
  justify-items: center;
  gap: 1vh;
}

.DisplayKarte{
  height: 175px;
  border-radius: 5px;
  border: 2px solid aqua;

  display: grid;
  grid-template-areas: 
    'Bild Name'
    'Bild Infos';
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 4fr;
}

.DisplayKarte .Bild{
  grid-area: Bild;
  align-self: center;
}

.DisplayKarte .Name{
  grid-area: Name;
  justify-self: center;
}

.DisplayKarte .Infos{
  grid-area: Infos;
  justify-self: center;
}

.Level .Sitze{
  width: 40vw;
  height: 60vh;
  align-self: center;
  justify-self: center;

  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  align-content: space-around;
}


.Sitz{
  width: 80px;
  height: 80px;
  border-radius: 5px;
  border: 2px solid aqua;
  margin: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Sitz.besetzt{
  border-color: orange;
}


