
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #2b2b2b;
  background-color: #f5e6c8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background: #f5e6c8;
  --foreground: #2b2b2b;
  --card: #e8d3a3;
  --card-foreground: #2b2b2b;
  --primary: #ffb703;
  --primary-foreground: #2b2b2b;
  --secondary: #d9bc88;
  --muted: #e8d3a3;
  --muted-foreground: #8a8a8a;
  --accent: #d9bc88;
  --destructive: #b83232;
  --border: #b08968;
  --input: #e8d3a3;
  --ring: #ffb703;
}


@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: 'Geist Variable', sans-serif;
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
}

.dark {
  --background: #2b2118;
  --foreground: #f5e6c8;
  --card: #3a2d21;
  --card-foreground: #f5e6c8;
  --primary: #ffb703;
  --primary-foreground: #2b2118;
  --secondary: #5a4632;
  --muted: #3a2d21;
  --muted-foreground: #c2a97a;
  --accent: #7f5539;
  --destructive: #ff7b7b;
  --border: #5a4632;
  --input: #3a2d21;
  --ring: #fb8500;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}