:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.Bahnhof{
  margin: 20px;
}

.Kamel {
  margin: 20px;
}
.Kamel td.frei{
  border: 5px solid rgba(214, 191, 10, 0.74);
  border-radius: 5px;
  padding: 20px;
}

.Kamel td.besetzt{
  border: 5px solid blue;
  border-radius: 5px;
  padding: 20px;
} 

.Bahnhof td{
  border: 5px solid grey;
  border-radius: 5px;
  padding: 20px;
}
